main {
  width: 100%;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .intro>h1 {
    font-size: 12vmin;
  }
}

@media (max-width: 768px) {
  .navbar>.container .navbar-header::before,
  .navbar>.container .navbar-header::after {
    display: none;
  }

  .navbar>.container .navbar-header {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }

  .navbar>.container .navbar-brand {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

img {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: crisp-edges;
  transform: translateZ(0);
  backface-visibility: hidden;
}

table {
  width: 100%;
  margin: 1rem 0;
}

table th {
  border-bottom: 1px dotted #ddd;
  padding: 0.2rem 0.6rem;
}

table td {
  padding: 0.05rem 0.6rem;
}

main .page-header {
  margin: 40px 0 0;
}

.giscus {
  margin-top: 40px;
}
