main {
  width: 100%;
}

@media screen and (max-width: 650px) {
  .intro > h1 {
    font-size: 15vmin;
  }
}

table {
  width: 100%;
  margin: 1rem 0;
}

table th {
  border-bottom: 1px dotted #ddd;
  padding: 0.2rem 0.6rem;
}

table td {
  padding: 0.05rem 0.6rem;
}

.content pre {
  padding: 0;
}

.content .hljs {
  white-space: inherit;
  overflow-x: overlay;
}

.content .hljs:hover::-webkit-scrollbar {
  height: 3px;
}

.content .hljs::-webkit-scrollbar {
  height: 0px;
}

.content .hljs::-webkit-scrollbar-thumb {
  background-color: #eee;
  border-radius: 999px;
}

.content .hljs::-webkit-scrollbar-track {
  background-color: transparent;
}
