main {
  width: 100%;
}

@media screen and (max-width: 650px) {
  .intro > h1 {
    font-size: 15vmin;
  }
}

.hljs {
  white-space: inherit;
}

.hljs::-webkit-scrollbar {
  height: 3px;
}

.hljs::-webkit-scrollbar-thumb {
  background-color: #7e7f83;
  border-radius: 999px;
}

.hljs::-webkit-scrollbar-track {
  background-color: transparent;
}
