{{ define "main" }}
  <div class="layout list">
    <ul class="py-4 divide-y">
      {{ range .Pages }}
        {{ .Date.Format "Jan 2, 2006" | $.Scratch.Set "description" }}
        {{ with .Description }}{{ $.Scratch.Set "description" . }}{{ end }}


        <li>
          <div class="py-5">
            <div class="px-2 flex flex-col gap-2">
              <a class="font-medium text-xl w-fit" href="{{ .RelPermalink }}">
                {{ .Title }}
                {{ if .Draft }}
                  {{ partial "svg" (dict "name" "person-digging" "class" "text-rose-500 float-right pl-2 mt-0.5") }}
                {{ end }}
              </a>
              <span class="text-sm">{{ $.Scratch.Get "description" }}</span>
            </div>
          </div>
        </li>
      {{ end }}
    </ul>
  </div>
{{ end }}
