{{ define "main" }}
  <div class="layout list pb-24">
    <div class="flex flex-col justify-between">
      {{ $paginator :=.Paginator }}
      {{ partial "paginator" (dict "paginator" $paginator) }}
      {{ with $paginator }}
        <ul class="divide-y">
          {{ range .Pages }}
            {{ .Date.Format "Jan 2, 2006" | $.Scratch.Set "description" }}
            {{ with .Description }}{{ $.Scratch.Set "description" . }}{{ end }}


            <li>
              <div class="py-5">
                <div class="px-2 flex flex-col gap-2">
                  {{ $content := .Title }}
                  {{ $draft := cond .Draft (partial "svg" (dict "name" "person-digging" "class" "text-rose-500 float-right pl-2 mt-0.5")) "" }}
                  {{ $content := printf "%s%s" $content $draft }}
                  {{ partial "link/internal.html" (dict "class" "text-accent underline-fade font-medium text-xl w-fit" "link" .RelPermalink "content" $content) }}
                  <span class="text-sm">{{ $.Scratch.Get "description" }}</span>
                </div>
              </div>
            </li>
          {{ end }}
        </ul>
      {{ end }}
    </div>
  </div>
{{ end }}
