{{ define "main" }}
  <div class="layout">
    <header
      class="relative text-center flex flex-col items-stretch justify-center"
    >
      {{ with .Params.repo }}
        <a
          href="{{ . }}"
          class="absolute -translate-y-12 md:-translate-y-14 self-center flex items-center gap-1 text-sm md:text-base hover:text-accent"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >{{ partial "svg" (dict "name" "github-alt" "class" "md:text-lg") }}</a
        >
      {{ end }}
      <h1 class="mt-16 mb-12">{{ .Title }}</h1>
      <div class="flex justify-between items-center">
        <div>{{ partial "tags" . }}</div>
        <h6>Written on {{ .Date.Format "Jan 2, 2006" }}</h6>
      </div>
      <hr class="my-4 w-full" />
    </header>

    {{ partial "series" . }}


    <article class="content [&_hr]:my-4">{{ .Content }}</article>

    {{ partial "giscus" . }}


    <div class="h-24"></div>
  </div>
{{ end }}

{{ define "closing/body" }}
  {{ partial "back-to-top" . }}
{{ end }}
