{{ define "main" }}
  <div class="layout">
    <header class="text-center">
      <h1 class="relative mt-16 mb-12 flex justify-center">
        {{ with .Params.repo }}
          <a
            href="{{ . }}"
            class="absolute translate-y-[-1.25em] text-base md:text-lg hover:text-accent"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >{{ partial "svg" (dict "name" "github-alt" "class" "") }}</a
          >
        {{ end }}
        {{ .Title }}
      </h1>
      <div class="flex justify-between items-center">
        <div>{{ partial "tags" . }}</div>
        <h6>Written on {{ .Date.Format "Jan 2, 2006" }}</h6>
      </div>
      <hr class="my-4 w-full" />
    </header>

    {{ partial "series" . }}


    <article class="content [&_hr]:my-4">{{ .Content }}</article>

    {{ partial "giscus" . }}


    <div class="h-24"></div>
  </div>
{{ end }}

{{ define "closing/body" }}
  {{ partial "back-to-top" . }}
{{ end }}
