<link rel="icon" href="{{ .Site.Params.favicon | absURL }}" />

{{ $style := resources.Get "/main.css" | minify }}
<link rel="stylesheet" href="{{ $style.Permalink }}" />
{{ $style := resources.Get "/syntax.css" | minify }}
<link rel="stylesheet" href="{{ $style.Permalink }}" />

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family={{ .Site.Params.font }}"
/>

<style>
  :root {
    --accent: {{ .Site.Params.accent | default "black" }};
    --font: {{ .Site.Params.font | default "Raleway" }};
  }
</style>
