<meta charset="UTF-8" />
<meta
  name="viewport"
  viewport-fit="cover"
  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
/>
<meta name="HandheldFriendly" content="true" />

<link rel="canonical" href="{{ .Permalink }}" />
<meta
  name="naver-site-verification"
  content="c36f259891f25bc92e3884c1ceb626a0aaa76146"
/>

{{- if .Paginator -}}
  {{- if .Paginator.HasPrev -}}
    <link rel="prev" href="{{ .Paginator.Prev.URL | absURL }}" />
  {{- end -}}
  {{- if .Paginator.HasNext -}}
    <link rel="prev" href="{{ .Paginator.Next.URL | absURL }}" />
  {{- end -}}
{{- end }}

{{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type (printf `%sfeed.xml` $.Site.BaseURL) $.Site.Title | safeHTML }}
{{ end -}}

{{ with .Site.Params.author }}
  <meta name="author" content="{{ .username }} <{{ .email }}>" />
{{ end }}

{{ with delimit (union .Params.keywords .Params.tags) ", " }}
  <meta name="keywords" content="{{ . }}" />
{{ end }}


<link rel="manifest" href="/manifest.webmanifest" />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-title" content="jinyongp.dev" />
<meta name="apple-mobile-web-app-status-bar-style" content="default" />

<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />

{{ if .Description }}
  <meta property="og:description" content="{{ .Description }}" />
  <meta name="description" content="{{ .Description }}" />
{{ else }}
  <meta property="og:description" content="{{ .Site.Params.Description }}" />
  <meta name="description" content="{{ .Site.Params.Description }}" />
{{ end }}
