<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="canonical" href="https://jinyongp.dev" />
<meta
  name="naver-site-verification"
  content="c36f259891f25bc92e3884c1ceb626a0aaa76146"
/>

{{ with .Site.Params.author }}
  <meta name="author" content="{{ .username }} <{{ .email }}>" />
{{ end }}


<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />

{{ if .Description }}
  <meta property="og:description" content="{{ .Description }}" />
  <meta name="description" content="{{ .Description }}" />
{{ else }}
  <meta property="og:description" content="{{ .Site.Params.Description }}" />
  <meta name="description" content="{{ .Site.Params.Description }}" />
{{ end }}


<!-- Google Tag Manager -->
<script>
  (function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
      "gtm.start": new Date().getTime(),
      event: "gtm.js",
    });
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != "dataLayer" ? "&l=" + l : "";
    j.async = true;
    j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, "script", "dataLayer", "GTM-PFTW4CN");
</script>
<!-- End Google Tag Manager -->
