{{ $style := (dict
  "button" "inline-block w-8 aspect-square flex items-center justify-center cursor-pointer hover:text-accent"
  )
}}

{{- with .paginator }}
  {{- $currentPageNumber := .PageNumber }}
  {{- $url := .URL }}


  <ul class="flex items-center justify-between gap-4 py-4 w-full">
    {{- with .First }}
      <li {{ if eq $currentPageNumber .PageNumber }}disabled{{ end }}>
        <a href="{{ .URL }}">
          <div class="{{ $style.button }}">
            {{ partial "svg" (dict "name" "angles-left" "class" "") }}
          </div>
        </a>
      </li>
    {{- end }}


    <li {{ if eq .Prev nil }}disabled{{ end }}>
      <a href="{{ with .Prev }}{{ .URL }}{{ end }}">
        <div class="{{ $style.button }}">
          {{ partial "svg" (dict "name" "angle-left" "class" "") }}
        </div>
      </a>
    </li>

    <li class="grow text-center">Page {{ .PageNumber }}</li>

    <li {{ if eq .Next nil }}disabled{{ end }}>
      <a href="{{ with .Next }}{{ .URL }}{{ end }}">
        <div class="{{ $style.button }}">
          {{ partial "svg" (dict "name" "angle-right" "class" "") }}
        </div>
      </a>
    </li>

    {{- with .Last }}
      <li {{ if eq $currentPageNumber .PageNumber }}disabled{{ end }}>
        <a href="{{ .URL }}">
          <div class="{{ $style.button }}">
            {{ partial "svg" (dict "name" "angles-right" "class" "") }}
          </div>
        </a>
      </li>
    {{- end }}

  </ul>
{{- end }}
