{{ $style := (dict
  "button" "inline-block w-8 aspect-square flex items-center justify-center cursor-pointer hover:text-accent"
  )
}}

{{ define "partials/paginator-list-item" }}
  <li {{ if .disabled }}disabled{{ end }}>
    <a
      title="{{ .title }}"
      tabindex="{{ mul (int .disabled) -1 }}"
      {{ with .context }}
        href="{{ .URL }}"
      {{ else }}
        href="#"
      {{ end }}
    >
      <div class="{{ .button }}">
        {{ partial "svg" (dict "name" .icon "class" "") }}
      </div>
    </a>
  </li>
{{ end }}

{{- with .paginator }}
  {{- $currentPageNumber := .PageNumber }}
  {{- $url := .URL }}


  <ul class="flex items-center justify-between py-4 w-full">
    {{ partial "paginator-list-item"
      (dict
      "context" .First
      "title" "Go to First Page"
      "disabled" (eq $currentPageNumber .First.PageNumber)
      "button" $style.button
      "icon" "angles-left"
      )
    }}

    {{ partial "paginator-list-item"
      (dict
      "context" .Prev
      "title" "Go to Previous Page"
      "disabled" (eq .Prev nil)
      "button" $style.button
      "icon" "angle-left"
      )
    }}


    <li class="grow text-center">{{ .PageNumber }} / {{ .TotalPages }}</li>

    {{ partial "paginator-list-item"
      (dict
      "context" .Next
      "title" "Go to Next Page"
      "disabled" (eq .Next nil)
      "button" $style.button
      "icon" "angle-right"
      )
    }}

    {{ partial "paginator-list-item"
      (dict
      "context" .Last
      "title" "Go to Last Page"
      "disabled" (eq $currentPageNumber .Last.PageNumber)
      "button" $style.button
      "icon" "angles-right"
      )
    }}
  </ul>
{{- end }}
