{{ with .Site.Params.highlight }}
  {{ $cdn := printf "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@%s/build" .version }}
  <link rel="stylesheet" href="{{ $cdn }}/styles/{{ .theme }}.min.css" />
  <script defer type="module">
    import hljs from "{{ $cdn }}/es/highlight.min.js";
    hljs.configure({ })
    hljs.highlightAll();
  </script>
{{ end }}

{{ with .Site.Config.Services.GoogleAnalytics.ID }}
  <script async>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        "gtm.start": new Date().getTime(),
        event: "gtm.js",
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-PFTW4CN");
  </script>
{{ end }}


<script async>
  if ("serviceWorker" in navigator) {
    navigator.serviceWorker.register("/js/sw.js");
  }
</script>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.3.8/photoswipe.min.css"
  integrity="sha512-LFWtdAXHQuwUGH9cImO9blA3a3GfQNkpF2uRlhaOpSbDevNyK1rmAjs13mtpjvWyi+flP7zYWboqY+8Mkd42xA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<script defer type="module" src="/js/main.js"></script>
