{{ with .Site.Params.style.highlight }}
  <link
    rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/{{ . }}.min.css"
  />
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
  <script>
    hljs.highlightAll();
    hljs.configure({
      ignoreUnescapedHTML: true,
    });
  </script>
{{ end }}

{{ with .Site.Config.Services.GoogleAnalytics.ID }}
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        "gtm.start": new Date().getTime(),
        event: "gtm.js",
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-PFTW4CN");
  </script>
{{ end }}


<script>
  if ("serviceWorker" in navigator) {
    navigator.serviceWorker
      .register("/js/sw.js")
      .then(function (registration) {
        console.log(
          "ServiceWorker registration successful with scope: ",
          registration.active
        );
      })
      .catch(function (error) {
        console.log("ServiceWorker registration failed: ", error);
      });
  }
</script>

<script src="/js/main.js"></script>
