{{ if or .Params.prevSeries .Params.nextSeries }}
  <div class="grid grid-cols-1 gap-2 md:gap-10 md:grid-cols-2 text-slate-700">
    <div>
      {{ with .GetPage (.Params.prevSeries | default "void") }}
        <a
          href="{{ .RelPermalink }}"
          class="flex flex-col gap-1 border border-current text-current rounded p-2 hover:text-accent"
        >
          <div class="flex items-center gap-1">
            <i class="fa-solid fa-arrow-left"></i>
            <span class="font-bold">PREVIOUS SERIES</span>
          </div>
          <span class="truncate whitespace-nowrap">{{ .Title }}</span>
        </a>
      {{ end }}
    </div>
    <div>
      {{ with .GetPage (.Params.nextSeries | default "void") }}
        <a
          href="{{ .RelPermalink }}"
          class="flex flex-col gap-1 border border-current text-current rounded p-2 hover:text-accent text-right"
        >
          <div class="flex items-center gap-1 justify-end">
            <span class="font-bold">NEXT SERIES</span>
            <i class="fa-solid fa-arrow-right"></i>
          </div>
          <span class="truncate whitespace-nowrap">{{ .Title }}</span>
        </a>
      {{ end }}
    </div>
  </div>
  <hr class="mt-4" />
{{ end }}
