{{ $style := (dict
  "theme" "text-slate-500"
  "anchor" "flex flex-col gap-1 border border-current text-current rounded p-2 hover:text-accent"
  "icon" "flex items-center gap-1 [&_span]:font-bold"
  "title" "truncate whitespace-nowrap"
  )
}}

{{ with .Params.series }}
  {{ if or .prev .next }}
    {{ $prev := $.Site.GetPage (or (string .prev) "void") }}
    {{ $next := $.Site.GetPage (or (string .next) "void") }}
    <div
      class="{{ $style.theme }} grid grid-cols-1 gap-2 md:gap-20 md:grid-cols-2"
    >
      <div>
        {{ with $prev }}
          <a href="{{ .RelPermalink }}" class="{{ $style.anchor }}">
            <div class="{{ $style.icon }}">
              {{ partial "svg" (dict "name" "arrow-left" "class" "mb-0.5") }}
              <span>PREV</span>
            </div>
            <span class="{{ $style.title }}">{{ .Title }}</span>
          </a>
        {{ end }}
      </div>
      <div>
        {{ with $next }}
          <a href="{{ .RelPermalink }}" class="{{ $style.anchor }} text-right">
            <div class="{{ $style.icon }} justify-end">
              <span>NEXT</span>
              {{ partial "svg" (dict "name" "arrow-right" "class" "mb-0.5") }}
            </div>
            <span class="{{ $style.title }}">{{ .Title }}</span>
          </a>
        {{ end }}
      </div>
    </div>
    <hr class="my-4" />
  {{ end }}

  {{ with .list }}
    <div class="{{ $style.theme }} p-4 border rounded-md border-current mb-4">
      <h2 class="mb-2">Series</h2>
      <div class="list">
        <ol style="counter-reset: series;">
          {{ range . }}
            {{ with $.GetPage . }}
              <li
                style="counter-increment: series;"
                class="before:content-[counter(series)'.'] before:mr-1 before:inline-block before:-translate-y-px"
              >
                <a class="text-accent underline-fade" href="{{ .RelPermalink }}"
                  >{{ .Title }}</a
                >
              </li>
            {{ end }}
          {{ end }}
        </ol>
      </div>
    </div>

    <hr class="my-4" />
  {{ end }}
{{ end }}
