{{ partial "header" . }}

<main>

  <div>
    <h2>{{ .Title }}</h2>
    <h5>{{ .Description }}</h5>
    {{ partial "tags" . }}
  </div>

  <aside id="TOC_Study">
    <span>History</span>
    {{ .TableOfContents }}
  </aside>

  <div align="start" class="content">{{ .Content }}</div>

  <!-- Giscus | https://giscus.app -->
  <script src="https://giscus.app/client.js"
    data-repo="{{ .Site.Params.repo }}"
    data-repo-id="{{ .Site.Params.repoId }}"
    data-category="{{ .Site.Params.category }}"
    data-category-id="{{ .Site.Params.categoryId }}"
    data-mapping="title"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="light"
    data-lang="{{ .Site.Params.lang }}"
    crossorigin="anonymous"
    async
  ></script>

</main>

{{ partial "footer" . }}