<details class="rounded group my-2 border border-accent/20 p-2 px-3">
  <summary
    class="peer list-none flex items-center justify-between cursor-pointer text-slate-600 hover:text-accent transition-colors"
  >
    {{ (.Get 0) | markdownify }}
    <span
      class="text-xs text-current before:content-['EXPAND'] before:group-open:content-['COLLAPSE']"
    ></span>
  </summary>
  <div class="border-y">
    <p>{{ .Inner | markdownify }}</p>
  </div>
  <div class="text-slate-500 transition-colors text-xs text-right">
    {{ (.Get 0) | markdownify }}
  </div>
</details>
